{% extends 'base.html' %}

{% block content %}
  <div class="row">
  	<div class=col-sm>
  		<h1 class="text-center"> Home Monitoring Station</h1>
    </div>
  </div>

  <div class="row">
  	<div class=col-sm>
  		{# <h3 class="text-center">{{ today }}</h3> #}
  		<h3 class="text-center">{% now "jS F Y H:i" %}</h3>
    </div>
  </div>

  <div class="row">&nbsp;</div>
  <div class="row">

    <div class="col-sm-4">
      <h2 class="text-center">Sensor</h2>
      <hr>

{#	  <h3 class="text-center">Temperature [°C]</h3>#}
{#      <div class="row sensor_value">#}
{#      	<div class=col-sm>#}
{#          <h1 class="text-center {% if temperature > 30 %}warning{% endif %}">{{ temperature }}</h1>#}
{#          <h1 class="text-center">{{ temperature }}</h1>#}
{#        </div>#}
{#      </div>#}
{#      <div class="row sensor_min_max">#}
{#      	<div class="col-sm-6">#}
{#        	<h5 class="text-center">Min: {{ temperature_min }}</h5>#}
{#        </div>#}
{#        <div class="col-sm-6">#}
{#        	<h5 class="text-center">Max: {{ temperature_max }}</h5>#}
{#        </div>#}
{#      </div>#}
      {% include "snippets/sensor_block.html" with title="Temperature [°C]" value=temperature value_min=temperature_min value_max=temperature_max %}

      <br>

      {% include "snippets/sensor_block.html" with title="Humidity [%]" value=humidity value_min=humidity_min value_max=humidity_max %}

      <br>

      {% include "snippets/sensor_block.html" with title="Pressure [hPa]" value=pressure %}
    </div>

    <div class="col-sm-4">
      <h2 class="text-center">Air Quality</h2>
      <hr>

      <h3 class="text-center">Nitrogen dioxide (NO2)</h3>
      <div class="row sensor_value">
      	<div class=col-sm>
  			<h1 class="text-center">{{ no2 }}</h1>
        </div>
      </div>
      <div class="row">
        <div class=col-sm>
            {% include "snippets/badge.html" with value=no2 low=100 high=200 %}
        </div>
      </div>

      <br>

      <h3 class="text-center">Particulate Matter (PM2.5)</h3>
      <div class="row sensor_value">
      	<div class=col-sm>
  			<h1 class="text-center">{{ pm25 }}</h1>
        </div>
      </div>
      <div class="row">
        <div class=col-sm>
            {% include "snippets/badge.html" with value=pm25 low=20 high=60 %}
        </div>
      </div>

      <br>

      <h3 class="text-center">Particulate Matter (PM10)</h3>
      <div class="row sensor_value">
      	<div class=col-sm>
  			<h1 class="text-center">{{ pm10 }}</h1>
        </div>
      </div>
      <div class="row">
        <div class=col-sm>
            {% include "snippets/badge.html" with value=pm10 low=25 high=75 %}
        </div>
      </div>

    </div>

    <div class="col-sm-4">
      <h2 class="text-center">Weather</h2>
      <hr>

      <h3>Weather</h3>
      <div class="row">
      	<div class="col-sm-4">
        	<h5 class="text-center">Modena</h5>
      	</div>
        <div class="col-sm-4">
        	<h5 class="text-center">sole</h5>
      	</div>
        <div class="col-sm-4">
        	<h5 class="text-center">24</h5>
      	</div>
      </div>
      <br>
      <div class="row">
      	<div class="col-sm-4">
        	<h5 class="text-center">Min: 19</h5>
      	</div>
        <div class="col-sm-4">
        	<h5 class="text-center">Max: 24</h5>
      	</div>
        <div class="col-sm-4">
        	<h5 class="text-center">76%</h5>
      	</div>
      </div>

      <div class="row"><h6>&nbsp;</h6></div>

      <h3>Weather Forecast</h3>
      <div class="row">
      	<div class="col-sm-6">
        <p class="text-center">sole<p>
        <p class="text-center">data<p>
        </div>
        <div class="col-sm-6">
        <p class="text-center">sole<p>
        <p class="text-center">data<p>
        </div>
      </div>
      <br>
      <div class="row">
      	<div class="col-sm-6">
        <p class="text-center">sole<p>
        <p class="text-center">data<p>
        </div>
        <div class="col-sm-6">
        <p class="text-center">sole<p>
        <p class="text-center">data<p>
        </div>
      </div>

    </div>

  </div>

{% endblock %}