<h2 class="text-center">Weather</h2>
<hr>

<h3>Weather</h3>
<div class="row">
<div class="col-sm-4">
    <h5 class="text-center">Modena</h5>
</div>
<div class="col-sm-4">
    <h5 class="text-center">sole</h5>
</div>
<div class="col-sm-4">
    <h5 class="text-center">24</h5>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-4">
    <h5 class="text-center">Min: 19</h5>
</div>
<div class="col-sm-4">
    <h5 class="text-center">Max: 24</h5>
</div>
<div class="col-sm-4">
    <h5 class="text-center">76%</h5>
</div>
</div>

<div class="row"><h6>&nbsp;</h6></div>

<h3>Weather Forecast</h3>
<div class="row">
<div class="col-sm-6">
<p class="text-center">sole<p>
<p class="text-center">data<p>
</div>
<div class="col-sm-6">
<p class="text-center">sole<p>
<p class="text-center">data<p>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-6">
<p class="text-center">sole<p>
<p class="text-center">data<p>
</div>
<div class="col-sm-6">
<p class="text-center">sole<p>
<p class="text-center">data<p>
</div>
</div>